{
    "singleQuote": true,
    "jsxSingleQuote": false,
    "bracketSpacing": false,
    "trailingComma": "none",
    "tabWidth": 4,
    "arrowParens": "always",
    "semi": false,
    "printWidth": 98
}
